/* Style for the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Style for the candidate card */
  .candidate-card {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  /* Add animation for the card */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Style for the mat-card */
  mat-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  mat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style for the vote button */
  button.mat-raised-button {
    display: flex;
    align-items: center;
  }
  .mat-mdc-card-avatar {
    height: 100px;
    width: 100px;
  }
  
  mat-icon {
    margin-right: 5px;
  }
  